########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################

system:
  game_path: {{ lutris.config.game_path }}
